.itemscontainer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.item {
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 15%;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

  padding: 10px;
}
.item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.imagecontainer {
  margin: 0 auto;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  pointer-events: none;
}
.bagbutton {
  color: white;
  background-color: #2b2d42;
}
